<div class="testimonial video">
  <div class="media">
    <iframe width="560" height="315" src="<%= video_link %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="description"> 
    <p>
      <b><%= name %></b>
      <i><%= status %></i>
    </p>
  </div>
</div>