<section class="about-wrapper">
  <div class="content">
    <h3>About us</h3>
    <p>
      The Tibetan Scholarship Program Alumni Association (TSPAA) was established
      with the primary purpose of strengthening the network between all the
      cohorts of the Tibetan Scholarship Program (TSP), providing them a
      platform to reach out to their peers along with assisting them in their
      various social endeavors.
    </p>

    <p>
      With a cohort size exceeding 450 members, spread across more than thirty
      years, the TSP remains the most prestigious and influential scholarship
      for Tibetans, in India and Nepal, towards pursuing graduate studies in the
      United States.
    </p>

    <p>
      Those who have completed their graduation, as part of the TSP, bring with
      them various professional skill sets, experiences as well as a strong
      social commitment to the Tibetan society. The TSPAA comprises of all these
      incredible individuals who continue to contribute, innovatively, towards
      the welfare of the Tibetan diasporic community.
    </p>

    <h3>Objectives</h3>

    <ul>
      <li>
        To promote and foster mutually beneficial interaction between alumni,
        present TSP candidates and other prospective students who wish to learn
        more about the TSP program and its Alumnus.
      </li>
      <li>
        To provide a platform for alumni to share their experience and stories
        so that their personal experience can help others to advance in their
        respective careers.
      </li>
      <li>
        To act as a liaison between the TSP coordinator in US and alumni for any
        new TSP related events and opportunities.
      </li>
      <li>
        To facilitate the growth of TSP alumni network globally to find avenues
        for future collaboration and other opportunities
      </li>
    </ul>

    <h3>Committee</h3>
    <div class="members">
      <div class="member">
        <div class="photo">
          <img src="/assets/lobsang.jpg" />
        </div>
        <div class="description">
          <p>Lobsang Kyizom</p>
          <p class="role">President</p>
        </div>
      </div>

      <div class="member">
        <div class="photo">
          <img src="/assets/thupten.jpg" />
        </div>
        <div class="description">
          <p>Thupten Rinzin</p>
          <p class="role">Vice President</p>
        </div>
      </div>

      <div class="member">
        <div class="photo">
          <img src="/assets/ngawangt.jpg" />
        </div>
        <div class="description">
          <p>Ngawang Tenzin</p>
          <p class="role">Finance Officer</p>
        </div>
      </div>
      <div class="member">
        <div class="photo">
          <img src="/assets/chokden.jpg" />
        </div>
        <div class="description">
          <p>Tenzin Chokden</p>
          <p class="role">Web Manager</p>
        </div>
      </div>

      <div class="member">
        <div class="photo">
          <img src="/assets/urgyen.jpg" />
        </div>
        <div class="description">
          <p>Tenzin Urgyen</p>
          <p class="role">Social Media Coordinator</p>
        </div>
      </div>

      <div class="member">
        <div class="photo">
          <img src="/assets/sonam.jpg" />
        </div>
        <div class="description">
          <p>Sonam Choedon</p>
          <p class="role">Social Media Coordinator</p>
        </div>
      </div>
      <div class="member">
        <div class="photo">
          <img src="/assets/pema.jpg" />
        </div>
        <div class="description">
          <p>Pema Dolkar</p>
          <p class="role">Social Media Coordinator</p>
        </div>
      </div>
      <div class="member">
        <div class="photo">
          <img src="/assets/choedar.jpg" />
        </div>
        <div class="description">
          <p>Tenzin Choedar</p>
          <p class="role">Communication Officer</p>
        </div>
      </div>
      <div class="member">
        <div class="photo">
          <img src="/assets/yeshi.jpg" />
        </div>
        <div class="description">
          <p>Yeshi Paljor</p>
          <p class="role">Communication Officer</p>
        </div>
      </div> 
    </div>
  </div>
</section>
