<section class="alumni-services">

  <h3>Looking for a mentor?</h3>
  <div class="sub-content">
    <p>
      Are you a person who wants to connect with a Mentor? Tibetan Scholarship Alumni Association is a strong 
      network of TSP alumni across the world in equally diverse fields. We have Tibetan mentors that are 
      supportive individuals who will offer guidance and encouragement to help set academic and/or career 
      goals and taking steps to achieve them. Fill the <a href="https://forms.gle/eoe9v9Em7PHeDKFMA">form</a> with your details and we will try our 
      best to connect you to the mentor of your choice.
    </p>
  </div>

  <h3>Programs & Events</h3>
  <div class="sub-content">
    <div class="event__item">
      <div class="event__date">
        <span>12th May, 8:00 PM</span>
      </div>

      <div class="event__summary">
        <a href="events/workshop-on-effective-communication">
          <h4>WORKSHOP ON EFFECTIVE COMMUNICATION</h4>
        </a>
      </div>
    </div>
  </div>
</section>