<section class="contact-wrapper">
  <div class="my-row">
    <div class="my-column direct">
      <h2>Contacts</h2>
      <div class="contact__item">
        <div class="icon">
          <img src="assets/mail.png" alt="Email icon by Thomas Knop"/>
        </div>
        <div class="contact__detail">
          <a href="mailto:tspalumni@gmail.com">tspalumni@gmail.com</a> 
        </div>
      </div>

      <div class="contact__item">
        <div class="icon">
          <img src="assets/smartphone.png" alt="Email icon by Thomas Knop"/>
        </div>
        <div class="contact__detail">
          +91 835-084-7418
        </div>
      </div>
    </div>
  
    <!-- <div class="my-column socials">
      <h2>Socials</h2>
      <div class="social__item">
        <div class="icon">
          <img src="assets/facebook.png"/> 
        </div>
        <div class="link">
          fb.com/tspalumni
        </div>
      </div>
  
      <div class="social__item">
        <div class="icon">
          <img src="assets/instagram.png"/>
        </div>
        <div class="link">
          instagram.com/tspalumni
        </div>
      </div>
    </div> -->
  </div>

</section>