<section class="top-section">
  <div class="featured">
    <div class="announcement">
      <h2>The Tibetan Community Grants Fund is here.</h2>
      <a class="action" href="/events/tcgf">Apply now!</a>
    </div>
  </div>

  <div class="programs">
    <h2>Programs & Events</h2>
    <div class="event-calendar">
      <% for (postName in public.events._data) { %>
      <div class="event__item">
        <a href="<%= `./events/${postName}` %>"></a>
        <div class="event__date">
          <span><%= public.events._data[postName].date %></span>
          <span><%= public.events._data[postName].month %></span>
        </div>

        <div class="event__summary">
          <%= public.events._data[postName].title %>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>

<section class="mission-wrapper">
  <div class="content">
    <h2>Who we are?</h2>
    <div class="statement">
      <p>
        The Tibetan Scholarship Program Alumni Association (TSPAA) was established with the primary purpose of 
        strengthening the network between all the cohorts of the Tibetan Scholarship Program (TSP), providing 
        them a platform to reach out to their peers along with assisting them in their various social endeavors.
      </p>
  
      <p>
        With a cohort size exceeding 450 members, spread across more than thirty years, the TSP remains the 
        most prestigious and influential scholarship for Tibetans, in India and Nepal, towards pursuing 
        graduate studies in the United States.
      </p>
    </div>
  </div>
</section>

<section class="alumni-words">
  <h2>Words from Alumni</h2>

  <div class="content">
    <div class="photo">
      <img src="assets/lobsang_sangay.jpg"/>
    </div>

    <div class="statement">
      <p>
        "My selection for the Tibetan Scholarship Program (TSP) gave me a rare opportunity. 
        My legal education at Harvard Law School made profound impact in my life. As the 
        democratically elected political leader, much of my keen desire in bringing change 
        to the Tibetan society and transforming ideas into action come from my education. 
        Therefore, I fully encourage Tibetans to participate in Tibetan Scholarship Program 
        and become a string advocate for Tibet and Tibetan people"
      </p>
      <p>
        - Dr. Lobsang Sangay
      </p>
    </div>
  </div>

  <hr>

  <div class="content right">
    <div class="photo">
      <img src="assets/tsering-tsomo.jpg"/>
    </div>

    <div class="statement">
      <p>
        "I believe TSP has made immense contribution to exile Tibetan community, and by 
        extension the Tibetan movement at large. Many TSP alumni continue to serve in exile 
        Tibetan institutions and organisations. Generally the importance of scholarships 
        for deserving students cannot be overstated. But TSP assumes greater importance in 
        that it provides support to young and dynamic Tibetans who are expected to serve 
        their own community after completion of their studies. Over the years, TSP alumni 
        have played an important role in the rejuvenation and sustainability of the Tibetan movement."
      </p>
      <p>
        - Tsering Tsomo
      </p>
    </div>
  </div>

  <hr>

  <div class="content">
    <div class="photo">
      <img src="assets/thupten_samphel.jpeg"/>
    </div>

    <div class="statement">
      <p>
        "The Tibetan Scholarship Program which enables young Tibetans to pursue further studies 
        in America is extremely useful in improving the capacity of the Tibetan exile community. 
        I was one of the first to greatly benefit from this program way back 1988 when the 
        program gave me a scholarship to study journalism at Columbia University from 1988 
        to 1989. The course I took at the Graduate School of Journalism greatly helped me to 
        improve the quality and design of the Tibetan Bulletin which I edited for many years”
      </p>
      <p>
        - Thupten Samphel
      </p>
    </div>
  </div>
</section>

<section class="services-section">
  <h2>Services & Resources</h2>

  <div class="services-container">
    <div class="service-card">
      <a href="https://tibetfund.org/programs/education-vocational-training/scholarships-2/" target="_blank">
      </a>

      <div class="photo">
        <img src="assets/tsp-logo.png"/>
      </div>
  
      <div class="summary">
        <h3>Upcoming TSP application</h3>
      </div>
    </div>

    <div class="service-card">
      <a href="/services/dulam">
      </a>
      <div class="photo">
        <img src="assets/tsp-logo.png"/>
      </div>
  
      <div class="summary">
        <h3>Free consulting services in education & career</h3>
      </div>
    </div>

    <div class="service-card">
      <a href="/services/navigating-path"></a>
      <div class="photo">
        <img src="assets/tsp-logo.png"/>
      </div>
  
      <div class="summary">
        <h3>Navigating the Path to Graduate Studies in the U.S. </h3>
      </div>
    </div>
  </div>
</section>

