<section class="event-post">
  <h2 class="title">
    Free consulting services in education & career 
    for Tibetan students by Tashi Namgyal , TSP 2018 Cohort
  </h2>

  <div class="content">
    <div class="event__photo">
      <img src="/assets/dunlam.png">
    </div>

    <h3>
      Free counselling in
    </h3>

    <ul>
      <li>Higher Studies</li>
      <li>Study Abroad</li>
      <li>Tibetan Scholarship Program(Fulbright)</li>
      <li>English Writing Skills</li>
      <li>Foreign Language Skills & Career</li>
      <li>Resume Writing & Interview Skills</li>
    </ul>

    <h3>Contact</h3>
    <p>
      Phone & Whatsapp : +91 8197-746-3845
      Email : <a href="mailto:dunlamcare@gmail.com">dunlamcare@gmail.com</a>
    </p>

  </div>
</section>