<section class="event-post">
  <h2 class="title">A Handbook on Graduate Studies in the United States</h2>
  <div class="content">
    <div class="event__photo">
      <img src="/assets/onewithworkshopattendees.jpeg">
    </div>
    <p>This handbook has been compiled by the 2017 - 2019 cohort of the Tibetan Scholarship Program (TSP), as part of the Youth Outreach Program under the Tibetan Scholarship Program Alumni Association( TSPAA ). The content of this book is geared towards providing some useful information to anyone who wishes to study in the United States at the graduate level. Therefore, the readers can use this book as a guide to apply for U.S. colleges as well as prepare for the life that follows. However it should not be considered as a comprehensive source of information but rather as a brief manual.
    </p>
    <p>
      You could view and download the handbook by clicking below:
      <div class="actions">
      <a href="/assets/handbook-tsp-final.pdf" class="btn" download="handbook">
      Download </a>
      </div>
    </p>
  </div>
</section>