<section class="event-post">
  <h2 class="title"> 
    Navigating the Path to Graduate Studies in the U.S.
  </h2>

  <div class="content">
    <h3>Episode 1: Choosing the right university</h3>

    <div class="event__video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/JU93ilWyZf8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <h3>Episode 2: Cracking TOEFL</h3>
    <div class="event__video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/4u0qo-F8t7s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <h3>Episode 2: Preparing for the GRE</h3>
    <div class="event__video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/YTzfK_MwCfc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <h3>Episode 4: Solving SOP</h3>
    <div class="event__video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/VB7_8Q1fZ0M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <h3>Episode 5: Acing the Interview</h3>
    <div class="event__video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/WiLqySY6HcU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</section>