<section class="event-post">
  <h2 class="title">Our Fifth youth outreach program, Upper TCV</h2>
  <div class="content">
    <div class="event__photo">
      <img src="../assets/5yop.jpg">
    </div>
    <p>
      Another Great Youth Outreach Program(YOP) session with Upper TCV today. More than 15 students from grade XI and XII joined us.
    </p>
  </div>
</section>