<section class="event-post">
  <h2 class="title">The Tibetan Community Grants Fund (TCGF) is here. Apply now!</h2>

  <div class="content">
    <div class="event__photo">
      <img src="/assets/tcgf-grant.jpeg">
    </div>
    

    <h3>TCGF Guidelines for Applicants</h3>

    <p>
      The Tibetan Community Grants Fund (TCGF) is a federally assisted award to 
      empower alumni of the Tibetan Scholarship Program (TSP) to contribute to the 
      Tibetan community in India through social impact projects while strengthening 
      their leadership skills and increasing TSP engagement with the U.S. Embassy Mission 
      in India. The Tibet Fund (TTF) administers TCGF in partnership with the Tibetan 
      Scholarship Program Alumni Association (TSPAA) and the U.S. Embassy Public Affairs 
      (PAS) in New Delhi.
    </p>

    <h3>
      Guidelines for Formulating and Submitting Proposals (for applicants):
    </h3>

    <ol>
      <li>
        The TCGF award eligibility is limited to TSP alumni members living in India. TSP alums residing outside India are NOT eligible to apply for the grant (as an individual or as part of a group).
      </li>

      <li>
        The TCGF award will be announced on the official websites and social media handles of TTF and TSPAA.
      </li>

      <li>
        Proposals should be submitted via the provided Google Form link to TSPAA latest by November 30th, 2020. Late submissions will not be entertained. The Project Coordinator will acknowledge the receipt of every application through email/phone call.
      </li>

      <li>
        The Project Coordinator will verify the applications and contact the applicants for any missing or additional required information/ clarifications about their proposals. The applicants will be given a three-day grace period to review and resubmit their proposals, failing which their grant application will be disqualified.
      </li>

      <li>
        The project areas identified should have potential to contribute towards social upliftment of the Tibetan community in India, and the proposals should have specific objectives and measurable outputs/outcomes.
      </li>

      <li>
        It is mandatory for all interested applicants to attend the training workshop organized by the TSPAA from 2nd November to 5th November 2020. The workshop will comprise of practical sessions on small grant proposal writing which will comprise of practical sessions on small grant proposal writing, project cycle management, the basics of monitoring, evaluation, and reporting, and preparing impact and success stories.
      </li>

      <li>
        Proposals should be prepared considering the worst-case Covid scenario of no effective vaccine until the end of 2021 in order to avoid possible lapses in project implementation due to the pandemic.
      </li>

      <li>
        Project needs should be clearly established by identifying the critical gap areas in the chosen fields of social development, and the interventions should be innovative and evidence-based.
      </li>

      <li>
        The projects should be completed no later than September 30, 2021 and require a budget of not more than USD 2,000 if applying individually and USD 8,000 if applying as a group consisting of 2 to 4 alums. (Use the exchange rate 1USD = 73INR)
      </li>

      <li>
        Applicants should try to incorporate gender lens to objectives and activities of the projects and ensure roughly equal representation of genders in the project beneficiaries. In addition to the usual focus areas of projects, i.e. education, gender, health, etc. the proposals can also deal with issues / situations related to the Covid – 19.
      </li>

      <li>
        Any further questions or clarifications can be requested by sending an email to the Project Coordinator (grants.tspaa@gmail.com)
      </li>
    </ol>

    <div class="actions">
      <a href="https://forms.gle/DhnDV6pxwPmG7M187" class="btn">Register for workshop</a>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSfVi5r_Pmr4YfiVLOiRI4b2qH2jMbDvi7n-5U0xsSZFx4lmQQ/viewform" class="btn">Apply now</a>
    </div>
  </div>
</section>