<section class="event-post">
  <h2 class="title">Our 3rd YOP Session </h2>
  <div class="content">
    <div class="event__photo">
      <img src="../assets/yop-session.png">
    </div>
    <p>
      Our 3rd YOP session successfully concluded with STS Poanta high school students on 24 October , 2020.
    </p>
  </div>
</section>