html {
  scroll-behavior: smooth;
}

.about-wrapper {
  .content {
    padding: 1em;
    font-size: 1.2rem;
    line-height: 1.5;

    h3 {
      text-decoration: underline;
      text-align: left;
      padding: 0.5em 1em;
      padding-left: 0;
    }

    p {
      font-weight: 300;
    }

    ul {
      font-weight: 300;
      margin: 0;
      padding: 0;
      padding-left: 1em;

      li {
        margin-top: 1em;
      }
    }

    .members {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .member {
        overflow: hidden;
        padding-bottom: 0.5em;

        .photo {
          width: 100px;
          height: 100px;
          overflow: hidden;
          margin: 0 auto;
          border: solid 2px #ccc;
          border-radius: 100%;

          img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        }

        .description {
          padding: 0;
          text-align: center;
          padding: 0.5em;

          p {
            margin: 0;
            font-size: 1rem;
          }

          p.role {
            font-weight: 400;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .about-wrapper {
    max-width: 900px;
    margin: 0 auto;
    overflow: hidden;

    .content {
      grid-area: content;

      .members {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .member {
          margin: 0;
          padding: 1.5em;

          .photo {
            width: 200px;
            height: 200px;

            img {
       
            }
          }
        }
      }
    }
  }
}
