.alumni-services {

  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
  padding: 1em;
  
  p {
    font-weight: 300;
  }

  h3 {
    background: #40739e;
    padding: 0.5em 1em;
    color: #fff;
  }

  .sub-content {
    padding: 0.5em 1em;

    .event__item {
      border: solid 1px #ccc;
      max-width: 1000px;
      width: 100%;

      .event__date {

        span {
          display: block;
          width: 100%;
          padding: 1em;
          justify-content: center;
          align-items: center;
          background: rgb(224, 224, 224);
          color: #000;
        }
      }

      .event__summary {
        padding: 1em;
      }
    }
  }
}


@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  

  .alumni-services {
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
    padding: 2em;
    font-size: 20px;
  }
}
