<section class="event-post">
  <h2 class="title">Our fourth youth outreach program, STS Mundgod</h2>
  <div class="content">
    <div class="event__photo">
      <img src="../assets/fourth-yop.png">
    </div>
    <p>
      Another Great Youth Outreach Program(YOP) session with STS Mundgod today. More than 30 students from grade XI and XII joined us. The Interactive session went on for two hours and almost every students engaged with us by asking great questions about pursuing Further Studies especially in the United States of America.
    </p>
  </div>
</section>